@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
 
body {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  background: #222;
 }
 
:root {
  --size: 8px;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: calc(-1 * var(--size));
  left: calc(-1 * var(--size));
  width: calc(100vw + (2 * var(--size)));
  height: calc(100vh + (1 * var(--size)));
  background-image: url(https://i.imgur.com/qoeRJSS.jpg);
  background-size: cover;
  filter: blur(var(--size)); 
  backface-visibility: hidden;
perspective: 1000;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 40px;

}

 .fa {
    padding: 5px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.fa:hover {
    opacity: 0.7;
    transition: 0.3s;
}


