 @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
 @import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #2e2f30;
    color: white;
    font-family: "Roboto";
    text-align: center;
}

p {
    padding-left: 5%;
    padding-right: 5%;
}

pre {
    font-family: "Roboto";
}