
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  background: #222;
 }

.clockbox {
	color: white;
}

:root {
  --size: 8px;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: calc(-1 * var(--size));
  left: calc(-1 * var(--size));
  width: calc(100vw + (2 * var(--size)));
  height: calc(100vh + (1 * var(--size)));
  background-image: url(https://i.imgur.com/qoeRJSS.jpg);
  background-size: cover;
  filter: blur(var(--size));
  backface-visibility: hidden;
perspective: 1000;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 40px;

}

 .fa {
    padding: 5px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.fa:hover {
    opacity: 0.7;
    transition: 0.3s;
}

a:link {
  color:white;
  background-color: transparent;
  text-decoration: none;
  font-family: Roboto;
  position: relative;
  display: inline-grid;
  padding: 10px 25px;
  text-align: center;
  margin: 5px;
  width: 50px;

}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

nav {
  position: relative;
  text-align: center;

}



input[type=text] {
  background-color: transparent;
  position: fixed;
  display: inline-block;
  border: none;
  color: white;
  outline: none ;
  text-align: left;
  width: 4%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  /*This is what i added*/
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid white;
}

input[type=text]:focus {
  border: none;
  border-bottom: 1px solid white;
  width: 50%;
  text-align: left;
  /*This is what i added*/
  left: 50%;
  transform: translateX(-50%);
  }
.clockbox {
  text-align: center;
}
